body {
  background-image: url('https://uploads-ssl.webflow.com/5ff79dbec1dbdc4c80b3b72e/5ff79dbec1dbdc89fdb3baa5_Blue-Cyclops-Design-Co_Blog_50-Color-Palettes_Header.png');
  background-size: cover;
}

label {
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px rgb(70, 70, 70);
  font-style: italic;
}

h2{
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px rgb(70, 70, 70);
  font-style: italic;
  text-align: center;
}

#board-size {
  margin-top: 10px;
  height: 30px;
  font-size: 24px;
  text-align: center;
}

#generate-board {
  height: 30px;
  font-size: 20px;
}

#title {
  text-align: center;
  font-size: 96px;
  color: white;
  text-shadow: 2px 2px 10px rgb(70, 70, 70);
}

#color-palette {
  text-align: center;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 10px rgb(70, 70, 70);
  ;
}

#botao-cores-aleatorias {
  text-align: center;
}

#button-random-color {
  height: 30px;
  font-size: 20px;
}

.color {
  border: 1px solid black;
  padding: 50px;
  display: inline-block;
  margin-left: 8px;
}

.selected {
  box-shadow: 0px 0px 15px gray;
}

#pixel-board {
  /* border: 1px solid black; */
  width: auto;
  text-align: center;
  line-height: 0;
}

.pixel {
  border: 1px solid black;
  padding: 50px;
  display: inline-block;
  background-color: white;
  width: 40px;
  height: 40px;
}

#clear-board {
  height: 30px;
  font-size: 20px;
}

#botao-limpar {
  text-align: center;
  margin-bottom: 12px;
}

#button-random-color {
  margin: 7px 0 10px 0;
}

#selecao-pixels {
  text-align: center;
  margin-bottom: 10px;
}